<div class="add-locations">
  <ion-header-bar class="bar-assertive">
    <a href="#/4-home-address">
      <button class="button button-clear">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
    </a>

    <h1 class="title">Favorite Parking Lot</h1>
    <button class="button button-clear">
      <i class="icon ion-ios-gear-outline"></i>
    </button>
  </ion-header-bar>

  <div class="bar bar-subheader">
    <h2 class="title">SET PARKING LOT NAME, DATES, AND ARRIVAL TIME</h2>
  </div>

  <ion-content class="has-subheader">

    <label class="item item-input">
      <span class="input-label">
          <i class="material-icons">delete_forever</i>
      </span>
      <input type="text" placeholder="Parking Lot Name">
    </label>

    <div class="item item-divider">
    </div>

    <div class="week-days">
      <button class="button button-light button-small">Sun</button>
      <button class="button button-light button-small">Mon</button>
      <button class="button button-light button-small">Tue</button>
      <button class="button button-light button-small">Wed</button>
      <button class="button button-light button-small">Thu</button>
      <button class="button button-light button-small">Fri</button>
      <button class="button button-light button-small">Sat</button>
    </div>

    <div class="item item-divider">
    </div>

    <label class="item item-input time-counting-container">
      <span class="input-label">
          Hours
      </span>

      <span class="input-label time-counting">
          00 : 00
      </span>

      <span class="input-label">
          Mins
      </span>
    </label>

    <a href="#/tab/7-parking-map" class="add-another-pk skip-to-map-button button button-block button-clear">
      <i class="material-icons">add_box</i>
      ADD ANOTHER PARKING LOT
    </a>
    <a href="#/6-personal-setting" class="next-button button button-block button-assertive">NEXT</a>
    <a href="#/tab/7-parking-map" class="skip-to-map-button button button-block button-clear">SKIP & GO TO PARKING MAP</a>

  </ion-content>

</div>
